{% load mathfilters %} 
<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col" class="border-0 text-bold" style="width: 40%;"> Checklist </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Responsible KRA </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Person Responsible </th>
                            <!-- <th scope="col" class="border-0 text-bold" style="width: 30%;"> Relative Gaps Found </th> -->
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Compliance </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(218, 230, 244);"> 
                        {% for membership in all_membership_redemption %} 
                        <tr>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{membership.checklist}}
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{membership.responsible_kra}}
                                </span>
                            </td>
                            <td>
                                <span class="">
                                    <select class="form-control" name="" id="person_responsible_membership_{{forloop.counter}}">
                                        <option value="">Select</option> 
                                        {% for emp in all_employee %} 
                                        <option {% if membership.person_responsible == emp %} selected {% endif %} value="{{emp.id}}">
                                            {{emp.zenoti_data.employee_name}}
                                        </option> 
                                        {% endfor %}
                                    </select>
                                </span>
                            </td>
                            <td>
                                <span class="">
                                    <input class="form-control" type="text" readonly value="{{membership.compliance|default_if_none:''}}" id="compliance_membership_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="display: none;">
                                <input type="text" value="{{membership.id}}" id="membership_id_{{forloop.counter}}">
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br><br>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="text-white" style="background-color: rgb(151 112 112);">
                        <tr>
                            <!-- <th scope="col" class="border-0 text-bold" style="width: 20%;"> Checklist </th> -->
                            <!-- <th scope="col" class="border-0 text-uppercase font-medium"> Responsible KRA </th> -->
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Total Membership redemptions as per Zenoti </th>
                            <th scope="col" class="border-0 text-bold" style="width: 80%;"> Remark </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(218, 230, 244);">
                        <tr>
                            <!-- <td style="white-space: normal;">
                                <span class="text-muted"> Blockouts </span>
                            </td> -->
                            <td>
                                <span class="">
                                    <input class="form-control" type="number" 
                                    value="{{revenue_audit.total_membership_redemption_as_per_zenoti}}" id="membership_as_zenoti_1" onchange="get_membership_difference()">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span>
                                    <input class="form-control" type="text" 
                                    value="{{revenue_audit.membership_redemption_remark|default_if_none:''}}" id="membership_remark_1">
                                </span>
                            </td>
                            <td style="display: none;">
                                <input type="text" value="{{revenue_audit.id}}" id="membership_revenue_audit_id">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <button class="btn btn-success" onclick="edit_all_membership_data()">Update</button>
        </div>
    </div>
</div>
<script>

    function get_membership_difference() {
        // ****if Both field is 0, it is Followed, else Not Followed
        var membership_as_zenoti = document.getElementById('membership_as_zenoti_1').value;
        if (membership_as_zenoti) {
            if (membership_as_zenoti == 0) {
                document.getElementById('compliance_membership_1').value = 'Followed';
            } else {
                document.getElementById('compliance_membership_1').value = 'Not Followed';
            }
        } else {
            document.getElementById('compliance_membership_1').value = 'Not Followed';
        }
    }

    function edit_all_membership_data() {
        $('#cover-spin').show(0);
        var membershipchecklist_check_list = [];
        var membershipchecklist_unique_question = [];
        for (var i = 0; i < 1; i++) {
            var field_id = i + 1
            var data_obj = {}
            data_obj['person_responsible'] = document.getElementById('person_responsible_membership_' + field_id).value;
            // data_obj['relative_gap'] = document.getElementById('gap_found_blockout_' + field_id).value;
            data_obj['compliance'] = document.getElementById('compliance_membership_' + field_id).value;
            data_obj['id'] = document.getElementById('membership_id_' + field_id).value;
            membershipchecklist_check_list.push(data_obj);
        }
        // console.log(hygiene_check_list)
        membershipchecklist_unique_question_obj = {}
        membershipchecklist_unique_question_obj['as_zenoti'] = document.getElementById('membership_as_zenoti_1').value;
        membershipchecklist_unique_question_obj['remark'] = document.getElementById('membership_remark_1').value;
        membershipchecklist_unique_question_obj['id'] = document.getElementById('membership_revenue_audit_id').value;
        membershipchecklist_unique_question.push(membershipchecklist_unique_question_obj)

        fetch("/edit_audit_membership_redemption/", {
            method: "POST",
            body: JSON.stringify({
                'membershipchecklist_check_list': membershipchecklist_check_list,
                'membershipchecklist_unique_question': membershipchecklist_unique_question,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                // console.log("Success: ", data);
                if (data.msg == 'success') {
                    // $('#cover-spin').hide(0);
                    location.reload();
                }
                else {
                    alert('Something went wrong, Please try again after refreshing the page')
                    $('#cover-spin').hide(0);
                }
            });
    }
</script>