<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col" class="border-0 text-bold" style="width: 40%;"> Checklist </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Responsible KRA </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Person Responsible </th>
                            <!-- <th scope="col" class="border-0 text-bold" style="width: 30%;"> Relative Gaps Found </th> -->
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Compliance </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(218, 230, 244);"> 
                        {% for campaign in all_campaign_offer_checklist %} 
                        <tr>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{campaign.checklist}}
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{campaign.responsible_kra}}
                                </span>
                            </td>
                            <td>
                                <span class="">
                                    <select class="form-control" name="" id="person_responsible_campaign_{{forloop.counter}}">
                                        <option value="">Select</option> 
                                        {% for emp in all_employee %} 
                                        <option {% if campaign.person_responsible == emp %} selected {% endif %} value="{{emp.id}}">
                                            {{emp.zenoti_data.employee_name}}
                                        </option> 
                                        {% endfor %}
                                    </select>
                                </span>
                            </td>
                            <!-- <td style="white-space: normal;">
                                <span class="text-muted">
                                    <input type="text" class="form-control" value="{{service.relative_gap_found|default_if_none:''}}" id="gap_found_del_service_{{forloop.counter}}">
                                </span>
                            </td> -->
                            <td>
                                <span class="">
                                    <input class="form-control" readonly type="text" id="compliance_campaign_{{forloop.counter}}" value="{{campaign.compliance|default_if_none:''}}">
                                </span>
                            </td>
                            <td style="display: none;">
                                <input type="text" value="{{campaign.id}}" id="campaign_id_{{forloop.counter}}">
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br><br>
            <div class="row">
                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col" class="border-0 text-bold" style="width: 80%;"> Total No. of Memberships redeemed for campaigns & offers </th>
                                    <th scope="col" class="border-0 text-bold" style="width: 20%;">
                                        <span class="">
                                            <input class="form-control" type="number" value="{{revenue_audit.total_no_of_membership_redeemed_for_campaign}}" id="membership_redeemed_1" onchange="get_campaign_difference()">
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody style="background-color: rgb(218, 230, 244);">
                                <tr>
                                    <td style="display: none;">
                                        <input type="text" value="{{revenue_audit.id}}" id="campaign_revenue_audit_id_1">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="m-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </button>
                    <div class="dropdown-menu">
                        <form action="" method="post"> 
                            {% csrf_token %} 
                            <Button class="dropdown-item" type="submit" name="create_one_campaign_annexure_row"> Add single row </Button>
                        </form>
                        <Button class="dropdown-item" data-toggle="modal" data-target="#add_campaign_annexure_row_modal"> Add Multiple row</Button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table user-table mb-0" id="campaign_offer_annexure_table">
                    <thead class="text-white" style="background-color: rgb(151 112 112);">
                        <tr>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Date of Request </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Date of Redemption </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Client Name </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Invoice Number </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Guest code </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Voucher value </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 250px; "> Remark </th>
                            <th scope="col" class="border-0 text-bold" style="min-width: 30px;"> Action </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for campaign_annexure in all_campaign_annexure %} 
                        <tr {% if campaign_annexure.bill_no and campaign_annexure.issue_no %} style="background-color: rgb(231 231 244);" {% endif %}>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="date" value="{{campaign_annexure.date_of_request|default_if_none:''}}" id="campaign_date_request_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="date" value="{{campaign_annexure.date_of_redemption|default_if_none:'' }}" id="campaign_date_redemption_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{campaign_annexure.client_name|default_if_none:''}}" id="campaign_client_name_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{campaign_annexure.invoice_number|default_if_none:''}}" id="campaign_invoice_number_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{campaign_annexure.guest_code|default_if_none:''}}" id="campaign_guest_code_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{campaign_annexure.voucher_value|default_if_none:''}}" id="campaign_voucher_value_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{campaign_annexure.remark|default_if_none:''}}" id="campaign_ramark_{{forloop.counter}}">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <form action="" method="post"> 
                                    {% csrf_token %} 
                                    <input type="hidden" name="del_id" id="" value="{{campaign_annexure.id}}">
                                    <button type="submit" name="campaign_annexure_del_row" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                            <input type="hidden" value="{{campaign_annexure.id}}" id="campaign_annexure_id_{{forloop.counter}}">
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <button class="btn btn-success" onclick="edit_all_campaign_offer_data()">Update</button>
        </div>
    </div>
</div>
<!-- add multiple annexure row modal  -->
<div class="modal fade" id="add_campaign_annexure_row_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Multiple Row's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post"> {% csrf_token %} <label for="">Enter the number of Row's you want</label>
                    <input class="form-control" type="number" name="annexure_row" id="">
                    <div class="row justify-content-center p-2">
                        <button class="btn btn-success" type="submit" name="campaign_annexure_multiple_row">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function get_campaign_difference() {
        var membership_redeemed = document.getElementById('membership_redeemed_1').value;
        if (membership_redeemed == 0) {
            document.getElementById('compliance_campaign_1').value = 'Followed';
        } else {
            document.getElementById('compliance_campaign_1').value = 'Not Followed';
        }
    }

    function edit_all_campaign_offer_data() {
        $('#cover-spin').show(0);
        var campaign_offers_check_list = [];
        var campaign_offers_unique_question = [];
        var campaign_offers_annexure_list = [];
        for (var i = 0; i < 1; i++) {
            var field_id = i + 1
            var data_obj = {}
            data_obj['person_responsible'] = document.getElementById('person_responsible_campaign_' + field_id).value;
            // data_obj['relative_gap'] = document.getElementById('gap_found_appointment_' + field_id).value;
            data_obj['compliance'] = document.getElementById('compliance_campaign_' + field_id).value;
            data_obj['id'] = document.getElementById('campaign_id_' + field_id).value;
            campaign_offers_check_list.push(data_obj);
        }

        var campaign_offer_unique_question_obj = {}
        campaign_offer_unique_question_obj['membership'] = document.getElementById('membership_redeemed_1').value;
        campaign_offer_unique_question_obj['id'] = document.getElementById('campaign_revenue_audit_id_1').value;
        campaign_offers_unique_question.push(campaign_offer_unique_question_obj);
        // console.log(rectification_bill_unique_question)
        // console.log(hygiene_check_list)
        var campaign_annexure_table = document.getElementById('campaign_offer_annexure_table');
        var total_rows = campaign_annexure_table.tBodies[0].rows.length;
        for (var i = 0; i < total_rows; i++) {
            var loop_id = i + 1;
            var campaign_annexure_obj = {}
            campaign_annexure_obj['request_date'] = document.getElementById('campaign_date_request_' + loop_id).value;
            campaign_annexure_obj['redemption_date'] = document.getElementById('campaign_date_redemption_' + loop_id).value;
            campaign_annexure_obj['client_name'] = document.getElementById('campaign_client_name_' + loop_id).value;
            campaign_annexure_obj['invoice_number'] = document.getElementById('campaign_invoice_number_' + loop_id).value;
            campaign_annexure_obj['guest_code'] = document.getElementById('campaign_guest_code_' + loop_id).value;
            campaign_annexure_obj['voucher_value'] = document.getElementById('campaign_voucher_value_' + loop_id).value;
            campaign_annexure_obj['remark'] = document.getElementById('campaign_ramark_' + loop_id).value;
            campaign_annexure_obj['id'] = document.getElementById('campaign_annexure_id_' + loop_id).value;
            campaign_offers_annexure_list.push(campaign_annexure_obj);
        }

        fetch("/edit_audit_campaign_offer/", {
            method: "POST",
            body: JSON.stringify({
                'campaign_offers_check_list': campaign_offers_check_list,
                'campaign_offers_unique_question': campaign_offers_unique_question,
                'campaign_offers_annexure_list': campaign_offers_annexure_list,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                // console.log("Success: ", data);
                if (data.msg == 'success') {
                    // $('#cover-spin').hide(0);
                    location.reload();
                }
                else {
                    alert('Something went wrong, Please try again after refreshing the page')
                    $('#cover-spin').hide(0);
                }
            });
    }
</script>