<div class="row">
    <div class="col-md-12">
        <div class="card p-2">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col" class="border-0 text-bold" style="width: 40%;"> Checklist </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Responsible KRA </th>
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Person Responsible </th>
                            <!-- <th scope="col" class="border-0 text-bold" style="width: 30%;"> Relative Gaps Found </th> -->
                            <th scope="col" class="border-0 text-bold" style="width: 20%;"> Compliance </th>
                        </tr>
                    </thead>
                    <tbody style="background-color: rgb(218, 230, 244);"> 
                        {% for ot_observation in all_other_observation_checklist %} 
                        <tr>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{ot_observation.checklist}}
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    {{ot_observation.responsible_kra}}
                                </span>
                            </td>
                            <td>
                                <span class="">
                                    <select class="form-control" name="" id="person_responsible_ot_observation_{{forloop.counter}}">
                                        <option value="">Select</option> 
                                        {% for emp in all_employee %} 
                                        <option {% if ot_observation.person_responsible == emp %} selected {% endif %} value="{{emp.id}}">
                                            {{emp.zenoti_data.employee_name}}
                                        </option> 
                                        {% endfor %}
                                    </select>
                                </span>
                            </td>
                            <!-- <td style="white-space: normal;">
                                <span class="text-muted">
                                    <input type="text" class="form-control" value="{{service.relative_gap_found|default_if_none:''}}" id="gap_found_del_service_{{forloop.counter}}">
                                </span>
                            </td> -->
                            <td>
                                <span class="">
                                    <input class="form-control" readonly type="text" id="compliance_ot_observation_{{forloop.counter}}" value="{{ot_observation.compliance|default_if_none:''}}">
                                </span>
                            </td>
                            <td style="display: none;">
                                <input type="text" value="{{ot_observation.id}}" id="ot_observation_id_{{forloop.counter}}">
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <br><br>
            <div class="m-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action </button>
                    <div class="dropdown-menu">
                        <form action="" method="post"> 
                            {% csrf_token %} 
                            <Button class="dropdown-item" type="submit" name="create_one_observation_annexure_row"> Add single row </Button>
                        </form>
                        <Button class="dropdown-item" data-toggle="modal" data-target="#add_observation_annexure_row_modal"> Add Multiple row

                        </Button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table user-table mb-0" id="other_observation_annexure_table">
                    <thead class="text-white" style="background-color: rgb(151 112 112);">
                        <tr>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Observation Area </th>
                            <th scope="col" class="border-0 text-bold" style="max-width: 150px;"> Audit Findings </th>
                            <th scope="col" class="border-0 text-bold" style="min-width: 30px;"> Action </th>
                        </tr>
                    </thead>
                    <tbody> 
                        {% for observation in all_other_observation_annexure %} 
                        <tr {% if observation.observation_area and observation.audit_findings %} style="background-color: rgb(231 231 244);" {% endif %}>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{observation.observation_area|default_if_none:''}}" id="observation_area_{{forloop.counter}}" onchange="get_observation_difference()">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <span class="">
                                    <input class="form-control" type="text" value="{{observation.audit_findings|default_if_none:'' }}" id="observation_audit_finding_{{forloop.counter}}" onchange="get_observation_difference()">
                                </span>
                            </td>
                            <td style="white-space: normal;">
                                <form action="" method="post"> 
                                    {% csrf_token %} 
                                    <input type="hidden" name="del_id" id="" value="{{observation.id}}">
                                    <button type="submit" name="observation_annexure_del_row" class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                            <input type="hidden" value="{{observation.id}}" id="observation_annexure_id_{{forloop.counter}}">
                        </tr> 
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <button class="btn btn-success" onclick="edit_all_other_observation_data()">Update</button>
        </div>
    </div>
</div>
<!-- add multiple annexure row modal  -->
<div class="modal fade" id="add_observation_annexure_row_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Multiple Row's</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post"> 
                    {% csrf_token %} 
                    <label for="">Enter the number of Row's you want</label>
                    <input class="form-control" type="number" name="annexure_row" id="">
                    <div class="row justify-content-center p-2">
                        <button class="btn btn-success" type="submit" name="observation_annexure_multiple_row">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function get_observation_difference() {
        var observation_annexure_table = document.getElementById('other_observation_annexure_table');
        var total_rows = observation_annexure_table.tBodies[0].rows.length;
        var total_sum = 0
        for (var i = 0; i < total_rows; i++) {
            var loop_id = i + 1;
            var area = document.getElementById('observation_area_' + loop_id).value;
            var audit_finding = document.getElementById('observation_audit_finding_' + loop_id).value;
            if(area.length > 0 || audit_finding.length > 0){
                total_sum += 1
            }
        }
        if (total_sum == 0) {
            document.getElementById('compliance_ot_observation_1').value = '';
        } else {
            document.getElementById('compliance_ot_observation_1').value = 'Not Followed';
        }
    }

    function edit_all_other_observation_data() {
        $('#cover-spin').show(0);
        var observation_check_list = [];
        var observation_unique_question = [];
        for (var i = 0; i < 1; i++) {
            var field_id = i + 1
            var data_obj = {}
            data_obj['person_responsible'] = document.getElementById('person_responsible_ot_observation_' + field_id).value;
            // data_obj['relative_gap'] = document.getElementById('gap_found_appointment_' + field_id).value;
            data_obj['compliance'] = document.getElementById('compliance_ot_observation_' + field_id).value;
            data_obj['id'] = document.getElementById('ot_observation_id_' + field_id).value;
            observation_check_list.push(data_obj);
        }
        // console.log(hygiene_check_list)
        var observation_annexure_table = document.getElementById('other_observation_annexure_table');
        var total_rows = observation_annexure_table.tBodies[0].rows.length;
        for (var i = 0; i < total_rows; i++) {
            var loop_id = i + 1;
            observation_unique_question_obj = {}
            observation_unique_question_obj['area'] = document.getElementById('observation_area_' + loop_id).value;
            observation_unique_question_obj['audit_finding'] = document.getElementById('observation_audit_finding_' + loop_id).value;
            observation_unique_question_obj['id'] = document.getElementById('observation_annexure_id_' + loop_id).value;
            observation_unique_question.push(observation_unique_question_obj);
        }

        fetch("/edit_audit_observation/", {
            method: "POST",
            body: JSON.stringify({
                'observation_check_list': observation_check_list,
                'observation_annexure': observation_unique_question,
            }),
            // Adding headers to the request
            headers: {
                "Content-type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
            .then((response) => {
                // console.log(response);
                if (response.redirected) {
                    window.location.href = response.url;
                    return;
                }
                return response.json();
            })
            .then((data) => {
                // console.log("Success: ", data);
                if (data.msg == 'success') {
                    // $('#cover-spin').hide(0);
                    location.reload();
                }
                else {
                    alert('Something went wrong, Please try again after refreshing the page')
                    $('#cover-spin').hide(0);
                }
            });
    }
</script>